<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>IPAFly</title>
    <script src="/static/js/jquery-3.5.1.js"></script>
    <link href="/static/css/mdui.css" rel="stylesheet">
    <script src="/static/js/mdui.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/qrcode.js"></script>
    <script src="/static/js/jquery.qrcode.js"></script>
    <link href="/static/css/prism.css" rel="stylesheet">
</head>

<body class="mdui-appbar-with-toolbar mdui-theme-primary-teal mdui-theme-accent-light-blue mdui-loaded">
<!--head bar-->
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="./" class="mdui-typo-headline mdui-hidden-xs">IPAFly</a>
        <a id="head_title" href="" class="mdui-typo-title">在线安装</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: 'Github'}">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon" style="width: 24px;height:24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
            c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
            c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
            c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
            c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
            c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
                        </svg>
        </a>
    </div>
</header>

<!--content page-->
<div class="mdui-container">
    <br>
    <img id="app_icon" class="mdui-col mdui-center" style="height: fit-content">
    <p id="app_name" class="mdui-center mdui-typo-display-1-opacity" style="width: fit-content"></p>
    <div id="qr_code" class="mdui-col mdui-center" style="width: fit-content"></div>
    <p class="mdui-center mdui-typo-caption-opacity" style="width: fit-content">BundleID:</p>
    <p id="bundle_id" class="mdui-center mdui-typo-caption-opacity" style="width: fit-content"></p>
    <p class="mdui-center mdui-typo-caption-opacity" style="width: fit-content">版本:</p>
    <p class="mdui-center mdui-typo-caption-opacity" id="app_version" style="width: fit-content"></p>
    <br>
    <a id="install" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-center" style="width: fit-content">在线安装</a>
</div>
</body>

<script type="text/javascript">
    // message
    function message(message) {
        mdui.snackbar({
            message: message,
            position: "top",
            timeout: 1000
        })
    }

    // main
    $(document).ready(function () {
        $("#qr_code").empty().qrcode(window.location.href);
        var params = new URLSearchParams(window.location.search);
        var app_id = params.get('id');
        $.get('/app_info', {'id': app_id}, function (data) {
            var bundle_id = data['bundle_id'];
            var app_name = data['app_name'];
            var app_version = data['app_version'];
            var icon_data = data['icon_data'];

            $("#app_name").text(app_name);
            $("#bundle_id").text(bundle_id);
            $("#app_version").text(app_version);
            $("#app_icon").attr('src', `data:image/png;base64,${icon_data}`);

            var manifest_url = window.location.origin + `/manifest.plist?id=${app_id}`;
            $("#install").attr('href', `itms-services://?action=download-manifest&url=${encodeURIComponent(manifest_url)}`);
        });
    });
</script>

</html>